<div class="card">

    <div class="card-body">

        <h4 class="card-title">{{airline.iata}}</h4>

        {{#if airline.operatorIata}}
            <h5 class="card-title">Operated by {{airline.operatorIata}}</h5>
        {{/if}}

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    {{#if airline.cargo}}
                        <p class="card-text"><i class="fas fa-box-open"></i> Cargo</p>
                    {{else}}
                        <i class="fas fa-users"></i> Passenger</p>
                    {{/if}}
                </div>
                <div class="col-sm">
                    {{#if airline.seasonal}}
                        <p class="card-text"><i class="far fa-clock"></i> Seasonal</p>
                    {{else}}
                        <p class="card-text"><i class="far fa-clock"></i> Year-Round</p>
                    {{/if}}
                </div>
            </div>
        </div>

        <br>

        {{#if airline.start}}
            <p class="card-text"><i>Starts on {{airline.start}}</i></p>
        {{/if}}
        {{#if airline.end}}
            <p class="card-text"><i>Ends on {{airline.end}}</i></p>
        {{/if}}

    </div>

</div>
